.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

div.mastHead {
  background-color: #800000;
}

div.sidePanel {
  float: left;
  width: 20%;
  color: red;
}

div.mainPanel {
  float: right;
  width: 75%;
}
