
/* Colours:
 * Dark Grey  #5d5c61
 * Light Grey #379683
 * Light blue #7a94ac
 * Dark blue  #557a95
 * Sand       #b1a296s
 */

html {
    height: 100%;
    border-width: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden}
}

body {
  height: 100%;
  overflow: hidden;
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

div.mast_head {
  background-color: #928e94;
  width: 100%;
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

div.side_panel {
  background-color: #7395ae;
  float: left;
  width: 20%;
  height : 100vh;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-width: 0px;
}

h1.mast_head {
  color : #ffffff;
}

h3.side_panel {
  color : #ffffff;
}

div.main_panel {
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  border-width: 0px;
  width: 74%;
  height: 100vh;
}

div.container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-width: 0px;
}

img.logo {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 100px;
  width: 100px;
}
.main_table {
  color : #5d5c61;
  border-collapse: collapse;
  width: 100%;
}

.tab_container {
  height:100vh;
}

.tab_content {
  overflow-y: scroll;
}

#main_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#main_table td, #customers th {
  border: 1px solid #cccccc;
  padding: 8px;
}

#main_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #557a95;
  color: white;
}

#main_table tr:nth-child(even)
{
  background-color: #cccccc;
}
